<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Auto Backup을 끈다.

         flutter_secure_storage(Android)는 값을 AES-GCM으로 암호화해
         SharedPreferences에 넣고, 그 키를 KeyStore의 RSA-OAEP로 래핑한다.
         Auto Backup은 **암호화된 prefs는 백업·복원하지만 KeyStore 키는
         복원하지 않는다** — 기기 복원 후 첫 읽기에서 BadPaddingException이
         나는 알려진 실패다. 미설정이면 플랫폼 기본값으로 켜져 있으므로,
         토큰 저장소가 실제로 배선되기 전에 명시적으로 끈다.

         켜야 할 일이 생기면 SecureTokenStorage 키를
         backup_rules.xml 에서 제외하는 쪽이 먼저다. -->
    <application
        android:label="geonganghaejim"
        android:name="${applicationName}"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
